<nav>
    <div class="site-title">
      <a href="/"><h1>Tests</h1></a>
      <p>Sí, muchos de ellos.</p>
    </div>
    <ul>
      <li><a href="/">Tests</a></li>
      <li><a href="/crear">Crear Nuevo</a></li>
    </ul>
  </nav>