<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>¿Te has perdido?</h2>
    <p>Yo creo que sí.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>